*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #FFF;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

button {
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    color: #FFF;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 3rem 8rem;
    z-index: 10;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__button {
    margin-left: 55.3rem;
    font-weight: 400;
    line-height: 150%;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

.main-dispay__button {
    font-weight: 700;
    line-height: 150%;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;
}

.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
}

.timer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.4;
}

.main-display {
    padding-top: 27rem;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display .container {
    position: relative;
    padding-bottom: 22.8rem;
    z-index: 10;
}

.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}

.work__wrap {
    display: flex;
}

.work__wrap img {
    width: 52.6rem;
    height: 42.9rem;
    margin-right: 13.9rem;
}

.work__header {
    padding-top: 6.9rem;
    margin-bottom: 4.5rem;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__header h2 {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    max-width: 63.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
}

.process {
    position: relative;
    padding-bottom: 20rem;
}

.process__header {
    display: flex;
    margin-bottom: 4.9rem;
}

.process__img {
    width: 9rem;
    height: 4.5rem;
}

.process__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 140%;
}

.process_description {
    margin-bottom: 8rem;
    max-width: 41.1rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
}

.process__columns {
    display: flex;
}

.process__item {
    max-width: 30.6rem;
}

.process__item:not(:last-child) {
    margin-right: 1.8rem;
}

.process__item_title {
    margin-bottom: 6.6rem;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 140%;
}

.process__item_description {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;
}

.process__columns::after {
    content: '';
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 130rem;
    height: 0.2rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.command {
    padding-bottom: 20rem;
}

.command__header {
    display: flex;
    margin-bottom: 11.3rem;
}

.command__img {
    margin-right: 3.8rem;
    max-width: 9rem;
    max-height: 4.4rem;
}

.command__header_title {
    padding-top: 1.9rem;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 140%;
}

.command__members {
    display: flex;
    justify-content: space-around;
}

.command__members_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.command__members_item_img {
    margin-bottom: 4rem;
    max-width: 19rem;
    max-height: 19rem;
}

.command__members_item_fullName {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 1.5rem;
}

.command__members_item_description {
    margin-bottom: 3rem;
    margin-top: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.8;
}

.command__members_item_button {
    max-width: 14.3rem;
    max-height: 4.4rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    background: transparent;
    border: 1px solid #fff;
}
